# Copy this file to .env and modify as required. 

PSQL_USER=opm
PSQL_PASS=opm
PSQL_IMAGE=postgres:16
PSQL_VOLUME=postgres_data:/var/lib/postgresql/data
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=fskpfsk21l2klaksLKSALKAS3jk3j29ASKJsak9l2
DJANGO_ALLOWED_HOSTS=127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGIN=127.0.0.1