{% extends 'tom_common/base.html' %}
{% load static %}
{% block content %}

<style>
 .table tbody tr.highlight-urgent td {
 background-color: #3D463C !important;
}
 .table tbody tr.highlight-bogus td {
 background-color: #463D3C !important;
}
</style>

  <div class="row justify-content-center">
    <div data-testid="baade-map">
        <div class="card shadow-sm">
            <div class="card-header">
                Public ranking based on averaged and rescaled probabilities of a quantile transform.
            </div>
            <img src="{% static 'tom_common/img/rescale_baade.png' %} " style="width: 77%; height: 77%" class="img-fluid mx-auto d-block"
                alt="Rescaled probability">
        </div>
    </div>
<ul>    
    <table class="table table-dark table-striped" data-testid="ranking_table">

        <thead>
            <tr>
                <th>Targetname<br>Broker links</th>
                <th>Probability-based<br>Rescaled Average</th> 
                <th>Variability Flags<br> Vizier</th>
                <th style="background-color:#3D463C">Days Since<br> Created<br> highlights &lt;7</th>
                <th>Gaia N&sup2 <br> Rescaled</th>
                <th>ALeRCE microlensing <br> BHRF Rescaled</th>
                <th>ALeRCE microlensing <br> BHRF Constrast</th>
                <th>ALeRCE microlensing <br> ATAT Direct</th>
                <th>ANTARES microlensing <br> filter</th>
                <th>Peak Planet Probability <br> from fit &psi; Rescaled</th>
                <th style="background-color:#463D3C">Bogus ALeRCE <br> stamp<br>highlights &gt;0.5</th>
               <th>Updated</th>

               
            </tr>
        </thead>
                <tbody>

           {% for item in microlensing_objects_queried_lsst %}
           {% with model=item.object %}
           <tr class="{% if item.age_days < 7 %}highlight-urgent{% else %}normal-row{% endif %}">
                 <td> <a href="{% url 'targets:detail' model.target.pk %}">{{ model.target }}</a> <br>
                    <a href="https://lsst.alerce.online/object/{{ model.target|slugify|slice:'5:' }}?oid={{ model.target|slugify|slice:'5:' }}&survey=lsst&page=1">ALeRCE</a>
                     <a href="https://antares.noirlab.edu/loci/lookup/{{ model.target|slugify|slice:'5:' }}">ANTARES</a>
                </td>
                <td ><b>{{model.average_master_probability|floatformat:4}}</b></td>
                <td>{{model.target.known_variability}}</td>
                <td>{{item.age_days}}</td>
                <td>{{model.metric_nsquare|floatformat:3}}</td>
                <td>{{model.metric_alerce|floatformat:3}}</td>
                <td>{{model.metric_probability_ratio|floatformat:3}}</td>
                <td>{{model.metric_alerce_atat|floatformat:3}}</td>
                <td>{{model.metric_antares|floatformat:3}}</td>
                <td>{{model.metric_planet|floatformat:3}}</td>
                <td>{{model.metric_bogus|floatformat:3}}</td>
                <td>{{model.updated_at}}</td>
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>      
            <tbody>
            {% for item in microlensing_objects_queried %}
            {% with model=item.object %}
            <tr class="{% if model.metric_bogus > 0.5 %}highlight-bogus{% else %}{% if item.age_days < 7 %}highlight-urgent{% else %}normal-row{% endif %}{% endif %}">
                 <td> <a href="{% url 'targets:detail' model.target.pk %}">{{ model.target }}</a> <br>
                     <a href="https://alerce.online/object/{{model.target}}">ALeRCE</a> 
                     {% if "ztf" in model.target|lower %}
                         <a href="https://ztf.fink-portal.org/{{model.target}}">fink</a>
                     {% endif %}
                     <a href="https://antares.noirlab.edu/loci/lookup/{{model.target}}">ANTARES</a>
                </td>
                <td ><b>{{model.average_master_probability|floatformat:4}}</b></td>
                <td>{{model.target.known_variability}}</td>
                <td>{{item.age_days}}</td>
                <td>{{model.metric_nsquare|floatformat:3}}</td>
                <td>{{model.metric_alerce|floatformat:3}}</td>
                <td>{{model.metric_probability_ratio|floatformat:3}}</td>
                <td>{{model.metric_alerce_atat|floatformat:3}}</td>
                <td>{{model.metric_antares|floatformat:3}}</td>
                <td>{{model.metric_planet|floatformat:3}}</td>
                <td>{{model.metric_bogus|floatformat:3}}</td>
                <td>{{model.updated_at}}</td>
            </tr>
                {% endwith %}
                {% endfor %}
            </tbody>        
            <tbody>

                {% for item in microlensing_objects %}
                {% with model=item.object %}
                <tr class="{% if item.age_days < 7 %}highlight-urgent{% else %}normal-row{% endif %}">
                 <td> <a href="{% url 'targets:detail' model.target.pk %}">{{ model.target }}</a> <br>
                     <a href="https://alerce.online/object/{{model.target}}">ALeRCE</a> 
                     {% if "ztf" in model.target|lower %}
                         <a href="https://ztf.fink-portal.org/{{model.target}}">fink</a>
                     {% endif %}
                     <a href="https://antares.noirlab.edu/loci/lookup/{{model.target}}">ANTARES</a>
                </td>
                <td><b>{{model.average_master_probability|floatformat:4}}</b></td>
                <td>{{model.target.known_variability}}</td>
                <td>{{item.age_days}}</td>
                <td>{{model.metric_nsquare|floatformat:3}}</td>
                <td>{{model.metric_alerce|floatformat:3}}</td>
                <td>{{model.metric_probability_ratio|floatformat:3}}</td>
                <td>{{model.metric_alerce_atat|floatformat:3}}</td>
                <td>{{model.metric_antares|floatformat:3}}</td>
                <td>{{model.metric_planet|floatformat:3}}</td>
                <td>{{model.metric_bogus|floatformat:3}}</td>
                <td>{{model.updated_at}}</td>

            </tr>
                {% endwith %}
                {% endfor %}

        </tbody>
    </table>    
</ul>
{% endblock %}
