{% extends 'tom_common/base.html' %}
{% load static %}
{% block content %}

  <div class="row justify-content-center">
    <div class>
      <div class="card shadow-sm">
        <div class="card-header">
         Public ranking based on averaged and rescaled probabilities of a quantile transform. 
        </div>
   <img src="{% static 'tom_common/img/rescale_baade.png' %}"
                      class="img-fluid mx-auto d-block"
                   alt="Rescaled probability">
     </div>
    </div>    
<ul>    
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Targetname</th>
               <th><b>Averaged Rescaled Probability</b></th>
                <th>Gaia normalized N&sup2 Rescaled</th>
                <th>ALeRCE microlensing BHRF Rescaled</th>
                <th>Peak Planet Probability from fit &psi; Rescaled</th>
                <th>Bogus ALeRCE stamp</th>
               <th>Updated</th>
               
            </tr>
        </thead>
        <tbody>
                {% for model in microlensing_objects %}

            <tr>
                 <td> <a href="https://alerce.online/object/{{model.target}}">{{model.target}}</a>
</td>
                <td><b>{{model.average_master_probability|floatformat:3}}</b></td>

                <td>{{model.metric_nsquare|floatformat:3}}</td>
                <td>{{model.metric_alerce|floatformat:3}}</td>
                <td>{{model.metric_planet|floatformat:3}}</td>
                <td>{{model.metric_bogus|floatformat:3}}</td>
                <td>{{model.updated_at}}</td>
            </tr>
                {% endfor %}

        </tbody>
    </table>    
</ul>
{% endblock %}
