{% load static %}
{{ targets|json_script:"target_data" }}
<aladin-skymap-element id="sky_map"
    moon='{"ra": {{ moon_ra|safe }}, "dec": {{ moon_dec|safe }}, "illumination": {{ moon_illumination|safe }}}'
    sun='{"ra": {{ sun_ra|safe }}, "dec": {{ sun_dec|safe }}}'
    surveys='[
        {"url": "{% static "tom_common/moc/base51_for_OPM_600visits.fits" %}", "color": "#ffa040", "name": "Rubin"}, 
        {"url": "{% static "tom_common/moc/gaia_nsquare_for_OPM_moc_nolodust.fits" %}", "color": "#ff0000", "name": "Galactic Plane Survey"}, 
        {"url": "{% static "tom_common/moc/gaia_nsquare_for_OPM_moc_nes.fits" %}", "color": "#6666ff", "name": "North Ecliptic Spur"}
    ]'>
</aladin-skymap-element>
<script>
    const mainMap = document.querySelector("#sky_map");
    const targets = JSON.parse(document.querySelector('#target_data').textContent);
    mainMap.targets = targets;
</script>
