{% load tom_common_extras targets_extras parameter_tags %}
<dl class="row" data-testid="target-info">
  {% for target_name in target.names %}
    {% if forloop.first %}
      <dt class="col-sm-6">Names</dt>
    {% else %}
      <dt class="col-sm-6">&nbsp;</dt>
    {% endif %}
    <dd class="col-sm-6">{{ target_name }}</dd>
  {% endfor %}
  {% for key, value in target.as_dict.items %}

    {% if key == 'ra' %}
      <dt class="col-sm-6">RA&nbsp;</dt>
      <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"hms" }}</dd>
    {% endif%}
    {% if key == 'dec' %}
      <dt class="col-sm-6">Dec&nbsp;</dt>
      <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"hms" }}</dd>
    {% endif%}
    {% if key == 'expected_visits' %}
      <dt class="col-sm-6">LSST xobs (10 yrs) </dt>
      <dd class="col-sm-6">{{ value }}</dd>
    {% endif%}
    {% if key == 'known_extragalactic' %}
      <dt class="col-sm-6">Extragalactic</dt>
      <dd class="col-sm-6">{{ value }}</dd>
    {% endif%}
        {% if key == 'known_variability' %}
      <dt class="col-sm-6">Variability Flags</dt>
      <dd class="col-sm-6">{{ value }}</dd>
    {% endif%}
  {% endfor %}
  
<dd class="col-sm-6">Class</dd>
<dd class="col-sm-6" >{{target.target_type}}</dd>
<dd class="col-sm-6">Probability rescaled</dd>
{% with target|microlensing_radar_by_name as filtered_parameters %} 
<dd class="col-sm-6" >{{filtered_parameters.average_master_probability|floatformat:3}}</dd>
{% endwith %}
</dl>
<dl class="col-sm-12 row">
    <ul class="nav flex-column" role="tablist" id="tabs2" style="background-color: #c50d29; color: #fff;">
      <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="imaging-tab" href="#imaging" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;">Imaging</a>
      </li>   
      <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="photometry-tab" href="#photometry" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;">Photometry</a>
      </li>      
      <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="spectroscopy-tab" href="#spectroscopy" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;">Spectroscopy</a>
      </li>      
        <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="classification-tab" href="#classification" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;">Classifications</a>
      </li>      
      <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="analysis-tab" href="#analysis" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;" >Analysis</a>
      </li>
      <li class="list-group-item list-group-item-primary" style="background-color: #c50d29; color: #fff;">
        <a class="nav-link" id="exchange-tab" href="#exchange" role="tab" data-toggle="tab" style="background-color: #c50d29; color: #fff;" >Observe/Exchange</a>
      </li>
 
    </ul>
</dl>

<dl class="row">
{% for key, value in extras.items %}
  <dt class="col-sm-6">{{ key }}</dt>
  <dd class="col-sm-6">{{ value }}</dd>
{% endfor %}
</dl>
{% if target.tags %}
<p>Tags</p>
<dl class="row">
{% for key, value in target.tags.items %}
  <dt class="col-sm-6">{{ key }}</dt>
  <dd class="col-sm-6">{{ value }}</dd>
{% endfor %}
</dl>
{% endif %}
