{% load tom_common_extras targets_extras %}
<dl class="row">
  {% for target_name in target.names %}
    {% if forloop.first %}
      <dt class="col-sm-6">Names</dt>
    {% else %}
      <dt class="col-sm-6">&nbsp;</dt>
    {% endif %}
    <dd class="col-sm-6">{{ target_name }}</dd>
  {% endfor %}
  {% for key, value in target.as_dict.items %}

    {% if key == 'ra' %}
      <dt class="col-sm-6">&nbsp;</dt>
      <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"hms" }}</dd>
    {% endif%}
    {% if key == 'dec' %}
      <dt class="col-sm-6">&nbsp;</dt>
      <dd class="col-sm-6">{{ value|deg_to_sexigesimal:"dms" }}</dd>
      {% if target.constellation %}
        <dt class="col-sm-6">Constellation</dt>
        <dd class="col-sm-6">{{ target.constellation }}</dd>
      {% endif %}
    {% endif%}
  {% endfor %}
<dd class="col-sm-6" style="color: #fff;">Class</dd>
<dd class="col-sm-6" style="color: #c50d29;">Selection..</dd>
<dd class="col-sm-12" style="color: #c50d29;">Imaging</dd>
<dd class="col-sm-12" style="color: #c50d29;">Photometry</dd>
<dd class="col-sm-12" style="color: #c50d29;">Spectroscopy</dd>
<dd class="col-sm-12" style="color: #c50d29;">Classifications</dd>
<dd class="col-sm-12" style="color: #c50d29;">Analysis</dd>
<dd class="col-sm-12" style="color: #c50d29;">Observe/Exchange</dd>
</dl>
<dl class="row">
{% for key, value in extras.items %}
  <dt class="col-sm-6">{{ key }}</dt>
  <dd class="col-sm-6">{{ value }}</dd>
{% endfor %}
</dl>
{% if target.tags %}
<p>Tags</p>
<dl class="row">
{% for key, value in target.tags.items %}
  <dt class="col-sm-6">{{ key }}</dt>
  <dd class="col-sm-6">{{ value }}</dd>
{% endfor %}
</dl>
{% endif %}
