{% load dataproduct_extras %}
<div data-testid="photometry-tab">
  <plotly-chart-element id="photometry_chart">
    {% photometry_for_target target None None %}
  </plotly-chart-element>
  {% if "lsst" in target.name|lower %}
    <a href="https://antares.noirlab.edu/loci/lookup/{{target.name|slice:'5:'}}" class="btn btn-primary" role="button"
      target="_blank">ANTARES</a>
    <a 
      href="https://lsst.alerce.online/object/{{ target.name|slugify|slice:'5:' }}?oid={{ target.name|slugify|slice:'5:' }}&survey=lsst&page=1" 
      class="btn btn-primary" 
      role="button">
        ALeRCE
    </a>
  {% endif %}
  {% if "ztf" in target.name|lower %}
    <a href="https://alerce.online/object/{{target.name}}" class="btn btn-primary" role="button"
      target="_blank">
        ALeRCE
    </a>
  {% endif %}
  {% if "ztf" in target.name|lower %}
    <a href="https://ztf.fink-portal.org/{{target.name}}" class="btn btn-primary"
      role="button" target="_blank">fink</a>
  {% endif %}
  <a href="https://vizier.cds.unistra.fr/cgi-bin/VizieR?-source=gaia-dr3&-c={{target.ra}},{{target.dec}}&-c.rs=1"
    target="_blank" class="btn btn-primary" role="button">Vizier Gaia DR3</a>
  <a
    href="https://vizier.cds.unistra.fr/vizier/sed/?-c={{ target.ra }},{{ target.dec }}&-c.rs=2"
    class="btn btn-primary" role="button" target="_blank">SED Vizier</a>
</div>
