{% load tom_common_extras targets_extras observation_extras dataproduct_extras static cache parameter_tags vite %}
<div data-testid="spectroscopy-tab">
        <img src="{% static 'tom_common/img/draft_sed2.png' %}">
        <p>
          {% if "ztf" in target.name|lower %}
          <a href="https://alerce.online/object/{{target.name}}" class="btn btn-primary" role="button" target="_blank">ALeRCE</a> 
          {% endif %}
          {% if "ztf" in target.name|lower %}
              <a href="https://ztf.fink-portal.org/{{target.name}}" class="btn btn-primary" role="button" target="_blank">fink</a>
          {% endif %}
          <a href="https://vizier.cds.unistra.fr/cgi-bin/VizieR?-source=gaia-dr3&-c={{target.ra}},{{target.dec}}&-c.rs=2" class="btn btn-primary" role="button" >Vizier Gaia DR3</a> <a href="https://vizier.cds.unistra.fr/vizier/sed/?-c={{ target.ra }},{{ target.dec }}&-c.rs=2" class="btn btn-primary" role="button" target="_blank">SED Vizier</a>
        </p>
</div>
