{% extends 'tom_common/base.html' %}
{% load comments django_bootstrap5 tom_common_extras targets_extras observation_extras dataproduct_extras static cache parameter_tags vite %}
{% load radar_plots_tags %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}

<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
<script>
  // Function to update the URL.
  const updateUrlWithTab = (tabId) => {
    const url = new URL(window.location.href);
    url.searchParams.set('tab', tabId);
    history.replaceState({}, document.title, url.toString());
  };

  document.addEventListener("DOMContentLoaded", function() {
    const DEFAULT_TAB = "photometry-tab"
    // Listen for tab changes.
    document.querySelectorAll('#target-tabs .nav-link').forEach(tab => {
      tab.addEventListener('click', function() {
        updateUrlWithTab(this.id.replace('-tab', ''));
      });
    });

    // Initial tab selection from URL.
    const tabQuery = new URL(window.location.href).searchParams.get('tab');
    if (tabQuery) {
      const activeTab = '#' + tabQuery;
      const tabElement = document.querySelector(`a[href="${activeTab}"]`);
      if (tabElement) {
        tabElement.click();
      }
    } else {
      const tabElement = document.querySelector(`#${DEFAULT_TAB}`);
      tabElement.click();
    }
  });
</script>

<div class="row">
  <div class="col">      
    {% target_feature object %}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div id="target-info">
      {% if object.future_observations %}
      <div class="alert alert-success">
        {{ object.future_observations|length }} upcoming observation{{ object.future_observations|pluralize }}
      </div>
      {% endif %}
      {% target_unknown_statuses object %}
 
      {% target_data object %}
  </dl>
      {% if object.type == 'SIDEREAL' %}
      {% endif %}

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
    <div class="col-md-8">
        <h4>Parameters for target type: {{target.target_type}}</h4>
    </div>
</div>
           
    <table class="table table-dark table-striped" data-testid="parameter-table">
      <thead>
        <tr>
          <th>t<sub>0</sub> [JD]</th>
          <th>u<sub>0</sub></th>
          <th>t<sub>E</sub> [days]</th>
          <th>&rho;</th>
          <th>&pi;<sub>EE</sub></th>
          <th>&pi;<sub>EN</sub></th>
    
        </tr>
      </thead>
      <tbody>
        <tr>
    
          {% with target|microlensing_parameters_by_name as filtered_parameters %}
          <td>{{filtered_parameters.t0|floatformat:3}}</td>
          <td>{{filtered_parameters.u0|floatformat:3}}</td>
          <td>{{filtered_parameters.tE|floatformat:3}}</td>
          <td>{{filtered_parameters.rho|floatformat:3}}</td>
          <td>{{filtered_parameters.piEE|floatformat:3}}</td>
          <td>{{filtered_parameters.piEN|floatformat:3}}</td>
    
          {% endwith %}
        </tr>
      </tbody>
    </table>

    {% include_app_tab_divs %}

  </div>
</div>
<script type="module" src="{% vite_asset 'src/pages/target-detail.ts' %}"></script>
{% endblock %}
